svg {
  width: 300px;
  height: 200px;
}

.power-0.next-partial .diode-1 {
    fill: rgb(255, 180, 67);
}

.power-1 {
  .diode-1 {
    fill: #58df58;
  }
  &.next-partial .diode-2 {
    fill: rgb(255, 180, 67);
  }
}

.power-2 {
  .diode-1, .diode-2 {
    fill: rgb(88, 223, 88);
  }
  &.next-partial .diode-3 {
    fill: rgb(255, 180, 67);
  }
}

.power-3 {
  .diode-1, .diode-2, .diode-3 {
    fill: rgb(88, 223, 88);
  }
  &.next-partial .diode-4 {
    fill: rgb(255, 180, 67);
  }
}

.power-4 {
  .diode-1, .diode-2, .diode-3, .diode-4 {
    fill: rgb(88, 223, 88);
  }
  &.next-partial .diode-5 {
    fill: rgb(255, 180, 67);
  }
}

.power-5 {
  .diode-1, .diode-2, .diode-3, .diode-4, .diode-5 {
    fill: rgb(88, 223, 88);
  }
}

.active {
  fill: rgb(88, 223, 88)!important;
}

.partial {
  fill: rgb(255, 180, 67);
}

@media (max-width: 420px) { 
  svg {
    width: 250px;
    height: 175px;
    margin-top: -3px;
  }
}