* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  height: 120px;
  justify-content: center;
  display: flex;
  align-items: center;
  background: black;
}

h1 {
  font-family: 'Permanent Marker', sans-serif;
  font-size: 50px;
  color: #96CA4F;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px;
  min-height: calc(100vh - 120px);
  border-bottom: 80px solid black;
}

.controls {
  padding: 20px;
  border: 3px solid black;
  border-radius: 80px;
  background: rgb(228, 228, 228);
}

.controls-inner {
  display: flex;
  border: 3px solid black;
  padding: 40px 20px;
  border-radius: 60px;
  background: white;
}

.dials-wrapper {
  display: flex;
}

.slider-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 5px 15px;
}

.slider-container {
  height: 100px;
}

.MuiSlider-thumb {
  width: 30px!important;
  border-radius: 3px!important;
  margin-left: -14px!important;
}

.slider-text {
  .slider-label {
    font-weight: 600;
    display: block;
    text-align: center;
  }
  font-size: 12px;
  margin: 8px;
}

.wires {
  border-top: 10px solid rgb(177, 34, 34);
  border-bottom: 10px solid black;
  min-width: 100px;
  width: 100%;
  height: 80px;
  margin-top: 30px;
  margin-right: -20px;
}

.volts-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 12px;
}

.volts-screen {
  padding-top: 10px;
  padding-bottom: 4px;
  margin-top: 20px;
  width: 140px;
  text-align: center;
  border: 2px solid black;
  background: rgb(68, 80, 55);
  border-radius: 8px;
  color: rgb(95, 227, 91);
  font-weight: 400;
  font-size: 56px;
  font-family: 'digital-7', sans-serif;
}

.volts-label {
  font-size: 14px;
  margin-top: 5px;
}

.bargraph {
  margin-right: 30px;
}

@media (max-width: 1200px) { 
  main {
    flex-direction: column;
  }

  .wires {
    border: none;
    border-left: 10px solid rgb(177, 34, 34);
    border-right: 10px solid black;
    min-height: 75px;
    height: 100%;
    width: 80px;
    margin-top: 0px;
    margin-bottom: -16px;
  }

  .bargraph {
    margin-right: 0px;
  }
}

@media (max-width: 700px) { 
  header {
    height: 50px;
  }

  h1 {
    font-size: 30px;
  }

  main {
    padding: 20px 10px;
  }

  .controls {
    border: none;
    padding: 0;
  }

  .controls-inner {
    padding: 15px 5px;
    border-radius: 20px;
  }

  .slider-wrapper {
    margin: 0;
  }

  .slider-container {
    height: 70px;
  }

  .volts-screen {
    padding-top: 5px;
    padding-bottom: 2px;
    width: 80px;
    font-size: 30px;
    font-family: 'digital-7', sans-serif;
  }

  .volts-label {
    font-size: 12px;
  }
  
}